In [2]:
import pandas as pd
import numpy as np

In [3]:
nyc_taxi = pd.read_csv('../data/green_tripdata_2016-05.csv')

In [4]:
nyc_taxi.columns, len(nyc_taxi)

(Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
        'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
        'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
        'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
        'Tip_amount', 'Tolls_amount', 'Ehail_fee', 'improvement_surcharge',
        'Total_amount', 'Payment_type', 'Trip_type '],
       dtype='object'), 1536979)

In [5]:
nyc_taxi.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2016-05-01 00:15:25,2016-05-01 00:21:53,N,1,-73.861954,40.750042,-73.852859,40.740276,5,...,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,1,1.0
1,2,2016-05-01 00:33:12,2016-05-01 00:51:45,N,1,-73.858810,40.750919,-73.903374,40.703739,5,...,21.0,0.5,0.5,0.00,0.0,NaN,0.3,22.30,2,1.0
2,2,2016-05-01 00:38:38,2016-05-01 00:49:47,N,1,-73.966286,40.710606,-73.943604,40.717495,2,...,9.5,0.5,0.5,1.00,0.0,NaN,0.3,11.80,1,1.0
3,2,2016-05-01 00:04:10,2016-05-01 00:34:39,N,1,-73.954132,40.787098,-73.953400,40.724899,2,...,25.5,0.5,0.5,5.36,0.0,NaN,0.3,32.16,1,1.0
4,2,2016-05-01 00:37:43,2016-05-01 00:45:28,N,1,-73.956299,40.723331,-73.966049,40.712185,2,...,6.5,0.5,0.5,3.00,0.0,NaN,0.3,10.80,1,1.0

In [6]:
uniq_lonlat, cnts = np.unique(nyc_taxi[['Pickup_longitude', 'Pickup_latitude']], axis=1, return_counts=True)

In [7]:
len(uniq_lonlat), cnts

(1536979, array([1, 1], dtype=int64))

In [8]:
fhv_df = pd.read_csv('../data/fhv_tripdata_2016-05.csv')

In [9]:
fhv_df.columns

Index(['Dispatching_base_num', 'Pickup_date', 'locationID'], dtype='object')

In [13]:
nyc_taxi['lpep_pickup_datetime'] = pd.to_datetime(nyc_taxi['lpep_pickup_datetime'])

In [54]:
new_df = nyc_taxi[(nyc_taxi['lpep_pickup_datetime'] >= '2016-05-01 09:00:00') & \
                  (nyc_taxi['lpep_pickup_datetime'] <= '2016-05-01 10:00:00')]

In [55]:
len(new_df)

1283